body {
  display: block;
  width: 100vw;
  height: 100vh;
}

.headtitle {
  color: blue;
  height: 30%;
  width: 100%;
}
    
.choosepath {
  display: flex;
  color: white;
  height: 40%;
  width: 100%;
}
    
.aboutgame {
  color: red;
  height: 30%;
  width: 100%;
}
